.react-calendar__month-view__weekdays__weekday {
  color: #c5a25e;
  text-decoration: none;
  font-size: 1.07rem;
  font-weight: 500;
}

abbr:where([title]) {
  text-decoration: none;
}

.react-calendar__tile {
  padding: 15px 0;
  /* color: #fff; */
  font-size: 1.07rem;
}

.react-calendar button {
  color: #fff;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #aaa !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #fff;
}

.react-calendar__tile--now {
  background: none;
}

.react-calendar__tile--now  {
  background: transparent;
  cursor: pointer; 
  border-radius: 16px !important;
}

.react-calendar button:enabled:hover {
  background-color: #c5a25e; 
  border-radius: 16px !important;
}

.react-calendar button abbr {
  transition: all 0.1s ease-in-out;
}

.react-calendar__tile--now:enabled:hover {
  /* background: none; */
}

.react-calendar__tile {
}

.initial-closing-date:not(.react-calendar__tile--active) {
  background-color: red;
  color: white;
}

.react-calendar__tile--active {
  background-color: #c5a25e !important; 
  border-radius: 16px !important;
}
